// Styles for the container
.container {
    width: 80%;
    margin: 0 auto;
    height: 600px;
}

// List styles (boxed items with arrows)
.list {
    list-style: none;
    padding: 0;
}



li {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; // Smooth transition for hover effect


    &:hover {
        /* Apply box shadow on hover */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        /* Adjust the shadow color and size */
    }

}

.winner-highlight {
    background-color: yellow;
    font-weight: bold;
}